body, html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

#app-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading {
  background-color: blue;
  height: 3px;
  position: fixed;
  top: 0;
  left: 0;
}

#query {
  margin: 30px 0;
  color: #666;
  font-size: .8em;
  width:100%;
  max-width: 800px;
}

h1, h2, h3, .something-like-logo {
  font-family: 'Karla', sans-serif;
}

.primary-color {
  color: #3f51b5;
}

.tabs {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.tabs .tab {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: #DDD;
  border: 1px solid #fff9;
}

.tabs .active-tab {
  background-color: #3f51b5;
}

.tabs .active-tab button {
  color: white;
}

.something-like-logo {
  font-size: 22px;
  font-weight: 800;
  /*color: #3f51b5;*/
  color: white;
  line-height: 26px;
  display: block;
  margin: 12px 5px 16px;
}

.source-bar {
  position: fixed;
  width: 10%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background: #1b1d62;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  z-index:3;
  background: -moz-linear-gradient(-45deg, #1b1d62 0%, #18358e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1b1d62 0%,#18358e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1b1d62 0%,#18358e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1d62', endColorstr='#18358e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.source-bar .logo-block {
  background-color: #080a37;
  padding: 17px 10px;
}

.source-bar .logo-block .logo {
  width: 100px;
}

.source-bar .source-tab {
  position: relative;
}

.source-bar .active-tab  {
  background-color: #444be799;
}

.source-bar .active-tab button {
  font-weight: 600;
}

.source-bar .source-tab button {
  color: white;
  padding: 5px;
  font-size: 10px;
  font-family: monospace;
}

.source-bar .source-tab button.md-icon-button {
  position: absolute;
  top: 15px;
  right: 0px;
}
.source-bar .source-tab button.md-icon-button .md-icon {
  color: rgba(255, 255, 255, .4);
  font-size: 16px !important;
}

.source-bar .info-block {
  position: absolute;
  bottom: 50px;
  left: 10px;
  right: 10px;
  background-color: #080a3780;
  border-radius: 3px;
  padding: 10px;
  color: white;
  font-size: 11px;
}

.source-bar .info-block::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-top: 10px solid #080a3780;
  left: 63px;
}

.source-bar img.beaver {
  position: absolute;
  left: 5px;
  bottom: -3px;
  width: 65px;
}

.transform-bar {
  position: fixed;
  width: 23%;
  top: 0px;
  left: 10%;
  bottom: 0px;
  background-color: #FFF;
  /*padding: 5px;*/
  overflow-y: scroll;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  z-index:2;
}

.transform-bar .control-button {
  width: 94%;
  padding: 6px;
  margin-top: 8px;
}

.transform-bar .md-primary {
  margin-right: 10px;
}
.transform-bar .md-card-expand {
  background-color: #F5F5F5;
}
.transform-bar .md-card-active {
  background-color: white;
}

.transform-bar .item-card {
  margin-bottom: 15px;
}

.md-toolbar {
  justify-content: space-between;
}
.md-toolbar .logo {
  width: 108px;
}

.hidden {
  pointer-events: none;
  opacity: .4;
}
.stat-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content {
  position: relative;
  padding: 15px 25px;
  margin-left: 33%;
  z-index: 1;
}

#loading {
  background-color: blue;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

/* COLLECTION NAME */
.collection-name {
  margin: 15px 0 30px 0;
}

.collection-name .md-input {
  height: 40px;
  font-size: 34px;
}

/* COLLECTION DASHBOARD */
.dashboard {
  padding: 5px 0 40px 0;
}

.dashboard .card {
  width: 30%;
}


/* TABLE */
.md-table .md-table-cell {
  position: static;
}
.choose-file {
  padding: 10% 20%;
}
table {
  border-collapse: collapse;
}
table thead {
  background-color: #E4E4E4;
}
table thead th {
  padding: 5px;
  margin:2px;
}
table tr:hover {
  background-color: #E7E7E7;
}
table td {
  border-top: 1px solid #dcdcdc;
  font-size: .9em;
  padding: 5px 15px;
  color: #444;
}
.search-chips .md-input-container:after {
  display: none
}

/* OPEN DIALOG */
.md-dialog.md-reference {
  width: 33% !important;
}
